[Desktop Entry]
Name=RustConn
Comment=Manage remote connections easily
Exec=rustconn
Icon=io.github.totoshko88.RustConn
Terminal=false
Type=Application
Categories=Network;RemoteAccess;GTK;
Keywords=ssh;rdp;vnc;spice;telnet;zerotrust;connection;terminal;remote;
StartupWMClass=io.github.totoshko88.RustConn
SingleMainWindow=true
